In [3]:
# import libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
## read all the data set
train_df = pd.read_csv("train_data-1646154868194.csv")
#test_df = pd.read_csv("test_data-1646154813929.csv")
#ff_df = pd.read_csv("foot_fall-1646154997847.csv")

In [5]:
## check for any null values in train data set
train_df.isna().sum()

year        0
month       0
day         0
city        0
medicine    0
sales       0
dtype: int64

In [6]:
## check for the sales column where sales is lessthen zero
train_df[train_df["sales"]<0]

          year  month  day  city  medicine  sales
17792     2015      1    3     6       117 -32.32
73647     2015      1    8     4        50  -8.00
83397     2015      1    9     2       785  -4.00
85164     2015      1    9     4       232  -8.00
86418     2015      1    9     5       253 -40.00
...        ...    ...  ...   ...       ...    ...
22598540  2018      6   29     9      3125  -4.00
22601387  2018      6   30     1      1404  -8.00
22604216  2018      6   30     2       886  -4.00
22604217  2018      6   30     2       887  -4.00
22624054  2018      6   30    10      2856 -44.00

[1672 rows x 6 columns]

In [7]:
## we need to drop those rows where sales in lessthen zero because sales can't be negative
train_df.drop(train_df[train_df.sales < 0].index, inplace=True)

In [8]:
## we need to drop the duplicate entries from our data set
train_df.drop_duplicates(inplace=True)

In [9]:
## using teh day , month and the year columns bring out the date column for train and the test data set
train_df['date']=pd.to_datetime(train_df[['year','month','day']])

In [1]:
## bringing out the new features from the given features.
train_df['quarter'] = train_df["date"].dt.quarter
#test_df['quarter'] = test_df["date"].dt.quarter

train_df["week_day"] = train_df["date"].dt.dayofweek
#test_df["week_day"] = test_df["date"].dt.dayofweek

train_df["weekofyear"] = train_df["date"].dt.weekofyear
#test_df["weekofyear"] = test_df["date"].dt.weekofyear

In [11]:
## using groupby extracting new features.
train_df.groupby(['quarter', 'medicine'])['sales'].mean()

quarter  medicine
1        1            23.121864
         2            69.037504
         3           120.127767
         4            23.971951
         5            11.947731
                        ...
4        3203         18.909091
         3204        400.000000
         3205          4.571429
         3206         21.629630
         3207          4.000000
Name: sales, Length: 12601, dtype: float64

In [12]:
## bring out the new column in the train data set
#train_df["medicine_quarter_mean"] = train_df.groupby(["quarter","medicine"])["sales"].transform('mean')
## droped these columns because of less space

In [13]:
#train_df['city_quarter_mean'] = train_df.groupby(['quarter', 'city'])['sales'].transform('mean') ## droped no space
## bellow(city,medicine,quarter,mean) is used in the code file because is is using three important columns.
train_df['city_medicine_quarter_mean'] = train_df.groupby(['quarter', 'medicine', 'city'])['sales'].transform('mean')

In [13]:
#train_df['medicine_month_mean'] = train_df.groupby(['month', 'medicine'])['sales'].transform('mean') ## droped no space
#train_df['city_month_mean'] = train_df.groupby(['month', 'city'])['sales'].transform('mean') ## droped no space
train_df['city_medicine_month_mean'] = train_df.groupby(['month', 'medicine', 'city'])['sales'].transform('mean')## used

In [14]:
#train_df['medicine_weekofyear_mean'] = train_df.groupby(['weekofyear','medicine'])['sales'].transform('mean') ## droped no space 
#train_df['city_weekofyear_mean'] = train_df.groupby(['weekofyear', 'city'])['sales'].transform('mean') ## droped no space 
train_df['city_medicine_weekofyear_mean'] = train_df.groupby(['weekofyear', 'medicine', 'city'])['sales'].transform('mean') ## used

In [15]:
#train_df['medicine_week_day_mean'] = train_df.groupby(['week_day', 'medicine'])['sales'].transform('mean') ## droped no space 
#train_df['city_week_day_mean'] = train_df.groupby(['week_day', 'city'])['sales'].transform('mean') ## droped no space 
train_df['city_medicine_week_day_mean'] = train_df.groupby(['week_day', 'medicine', 'city'])['sales'].transform('mean') ## used

In [16]:
train_df.isnull().sum().sum()

0

In [17]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22620846 entries, 0 to 22624344
Data columns (total 14 columns):
 #   Column                         Dtype
---  ------                         -----
 0   year                           int64
 1   month                          int64
 2   day                            int64
 3   city                           int64
 4   medicine                       int64
 5   sales                          float64
 6   date                           datetime64[ns]
 7   quarter                        int64
 8   week_day                       int64
 9   weekofyear                     int64
 10  city_medicine_quarter_mean     float64
 11  city_medicine_month_mean       float64
 12  city_medicine_weekofyear_mean  float64
 13  city_medicine_week_day_mean    float64
dtypes: datetime64[ns](1), float64(5), int64(8)
memory usage: 2.5 GB

In [18]:
cat_cols = ["year","month","day","city","medicine","quarter","week_day","weekofyear"]
print(cat_cols)

['year', 'month', 'day', 'city', 'medicine', 'quarter', 'week_day', 'weekofyear']

In [2]:
#train_df['city'].hist(figsize=(10, 5));

In [3]:
#train_df['quarter'].hist(figsize=(10,5));

In [29]:
## Custom Function for Bar Plots

def barplot(column,train_df):
    bar_plot1 = sns.countplot(x=column, data=train_df)
    
    total = len(train_df[column])
    for p in bar_plot1.patches:
        percentage = '{:.2f}%'.format(100 * p.get_height()/total)
        height = p.get_height()
        bar_plot1.text(p.get_x()+ p.get_width()/2, height + 400, percentage, ha="center")

In [5]:
#import matplotlib.pyplot as plt
#barplot("month",train_df)

In [4]:
#barplot("week_day",train_df)

In [19]:
train_df[cat_cols] = train_df[cat_cols].astype("category")

In [20]:
cont_cols =["city_medicine_quarter_mean","city_medicine_month_mean","city_medicine_weekofyear_mean","city_medicine_week_day_mean"]
print(cont_cols)

['city_medicine_quarter_mean', 'city_medicine_month_mean', 'city_medicine_weekofyear_mean', 'city_medicine_week_day_mean']

In [21]:
train_df.shape

(22620846, 14)

In [22]:
train_df.drop(["date"],axis=1,inplace=True)

In [25]:
from sklearn.model_selection import train_test_split
# split the data into train and the validation 
y=train_df["sales"]
X=train_df.drop('sales', axis=1)
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.20,random_state=123)

In [26]:
## Feature Scaling
from sklearn.preprocessing import StandardScaler

sc = StandardScaler()
X_train[cont_cols] = sc.fit_transform(X_train[cont_cols])

In [ ]:
## LinearRegression ##

In [27]:
from sklearn.linear_model import LinearRegression
from sklearn import metrics

lr = LinearRegression()
lr.fit(X_train,y_train)
y_pred_train =lr.predict(X_train)
print('Train set mse:', mean_squared_error(y_train, lr.predict(X_train)))
print("train rmse:", np.sqrt(metrics.mean_squared_error(y_train, y_pred_train)))

Train set mse: 4339.485867120336
train rmse: 65.87477413335347

In [ ]:
## RandomForest ##

In [ ]:
## performing the random forest algorithm
from sklearn.ensemble import RandomForestRegressor

regressor = RandomForestRegressor(n_estimators=100, random_state=0)

regressor.fit(X_train, y_train)

y_pred_train =regressor.predict(X_train)
y_pred_val=regressor.predict(X_val)
print("train rmse:", np.sqrt(metrics.mean_squared_error(y_train, y_pred_train)))

#y_pred_val = regressor.predict(X_val)
#print("test rmse:",np.sqrt(metrics.mean_squared_error(y_val, y_pred_val)))

In [ ]:
## DecisionTree ##

In [28]:
from sklearn.tree import DecisionTreeRegressor
reg_dt =DecisionTreeRegressor(max_depth=4)
reg_dt.fit(X_train,y_train)

y_pred_train = reg_dt.predict(X_train)
y_pred_val = reg_dt.predict(X_val)

print("train rmse:", np.sqrt(metrics.mean_squared_error(y_train, y_pred_train)))
#print("test rmse:",np.sqrt(metrics.mean_squared_error(y_val, y_pred_val)))

train rmse: 68.8038859900655